*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(27, 66%, 92%);
}

p{
    font-size: 1.125em;
}

.expense-component{
    display: flex;
    flex-direction: column;
    gap: 1em;
}



.balance-container{
    display: flex;
    justify-content: space-between;
    background-color: hsl(10, 79%, 65%);
    padding: 1em 2em;
    color: hsl(33, 100%, 98%);
    line-height: 2.5em;
    border-radius: 1em;
}

.final-balance{
    font-weight: 700;
    font-size: 2em;
}

.chart-container{
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    background-color: hsl(33, 100%, 98%);
    border-radius: 1em;
}

.d3-chart{
    display: flex;
    align-items: flex-end;
    gap: 1em;

    border-bottom: 2px solid hsl(28, 10%, 53%);
}

.bar{
    width: 3em;
    border-radius: 5px;
}

.total-container{
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
    color: hsl(28, 10%, 53%);

}

.percentage{
    text-align: right;
}